<div class="container-fluid">
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12 align-items-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Certificate of Quality</h4>
          <aw-wizard [navBarLayout]="'large-empty-symbols'">
            <aw-wizard-step stepTitle="Invoice Details">
              <ng-template awWizardStepSymbol><b>1</b></ng-template>
              <div class="row">
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-6 col-form-label"
                    >Select Invoice No</label
                  >
                  <div class="col-sm-6">
                    <ng-select [items]="invoiceNumbers"></ng-select>
                  </div>
                </div>
              </div>
              <form>
                <div class="row justify-content-center mt-4">
                  <!-- <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">Choose Heat Number 1</label> -->
                </div>
                <div class="row">
                  <div class="row mb-4">
                    <label
                      for="horizontal-password-input"
                      class="col-sm-6 col-form-label"
                      >Invoice Date</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        [disabled]="true"
                        value="31-10-2022"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="row mb-4">
                    <label
                      for="horizontal-password-input"
                      class="col-sm-6 col-form-label"
                      >PO No & Date</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        [disabled]="true"
                        value="TIPL/0148/22-23 & 31-10-2022"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="row mb-4">
                    <label
                      for="horizontal-password-input"
                      class="col-sm-6 col-form-label"
                      >Commodity</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        [disabled]="true"
                        value="Magnesium Alloy Ingots - AM50A"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="row mb-4">
                    <label
                      for="horizontal-password-input"
                      class="col-sm-6 col-form-label"
                      >Customer</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        [disabled]="true"
                        value="TRISTAR INTERMEDIATED PVT LTD"
                      />
                    </div>
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Packing List Details">
              <ng-template awWizardStepSymbol><b>2</b></ng-template>

              <form>
                <div class="row">
                  <div class="row mb-4">
                    <label
                      for="horizontal-password-input"
                      class="col-sm-6 col-form-label"
                      >Select Packing List Number</label
                    >
                    <div class="col-sm-6">
                      <ng-select [items]="packingListNumbers"></ng-select>
                    </div>
                  </div>
                </div>
              </form>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Confirm">
              <ng-template awWizardStepSymbol><b>3</b></ng-template>
              <div class="row mb-4 justify-content-center mt-4">
                <div class="col-12">
                  <div class="card border border-success bg-success card-body">
                    <h3 class="card-title text-white text-center">
                      Invoice Number - IEPL/0148/22-23
                    </h3>
                  </div>
                </div>
              </div>

              <div class="row mb-4 justify-content-center mt-4">
                <div class="col-12">
                  <div class="card border border-success bg-success card-body">
                    <h3 class="card-title text-white text-center">
                      Packing List No & Container No - 1001 & MRKU986754SH
                    </h3>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center mb-4">
                <div class="col-12 text-center">
                  <button
                    type="button"
                    class="btn btn-ibex btn-lg w-md text-black"
                  >
                    Generate Certificate
                  </button>
                </div>
              </div>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <a
                    routerLink="/pages/packing/dispatch"
                    class="btn btn-primary"
                    >Next Process</a
                  >
                </li>
              </ul>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
    <div class="col-lg-12 align-items-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Certificate of Quality</h4>
          <div class="table-responsive">
            <table class="table mb-0 table-hover">
              <thead class="table-light">
                <tr>
                  <th rowspan="1"></th>
                  <th rowspan="1">Sl No</th>
                  <th rowspan="1">Invoice Number</th>
                  <th rowspan="1">Invoice Date</th>
                  <th rowspan="1">PO No & Date</th>
                  <th rowspan="1">Commodity</th>
                  <th rowspan="1">Customer</th>
                  <th rowspan="1">Packing List No</th>
                  <th rowspan="1">Container No</th>
                  <th rowspan="1" class="text-center">View Remarks</th>
                  <th rowspan="1">Download</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td align="center">
                    <a class="expand-row" (click)="changeValue()"> + </a>
                  </td>
                  <td>1001</td>
                  <td>IEPL/1300/22-23</td>
                  <td>22-12-2022</td>
                  <td>TIPL/0148/22-23 & 31-10-2022</td>
                  <td>Magnesium Alloy Ingots - AM50A</td>
                  <td>TRISTAR INTERMEDIATES PVT LTD</td>
                  <td>1001</td>
                  <td>MRKU09876SH</td>
                  <td class="text-center">
                    <i class="mdi mdi-eye"></i>
                  </td>
                  <td class="text-center">
                    <i class="bx bx-download"></i>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <a class="expand-row" (click)="changeValue()"> + </a>
                  </td>
                  <td>1002</td>
                  <td>IEPL/1300/22-23</td>
                  <td>22-12-2022</td>
                  <td>TIPL/0148/22-23 & 31-10-2022</td>
                  <td>Magnesium Alloy Ingots - AM50A</td>
                  <td>TRISTAR INTERMEDIATES PVT LTD</td>
                  <td>1001</td>
                  <td>MRKU09876SH</td>
                  <td class="text-center">
                    <i class="mdi mdi-eye"></i>
                  </td>
                  <td class="text-center">
                    <i class="bx bx-download"></i>
                  </td>
                </tr>

                <tr *ngIf="!hideme[2]" class="sub-table no-bg">
                  <td align="center"></td>
                  <td colspan="15" class="p-0">
                    <div class="m-4">
                      <ngb-accordion
                        #acc="ngbAccordion"
                        activeIds="static-1"
                        [closeOthers]="false"
                      >
                        <ngb-panel id="static-1">
                          <ng-template ngbPanelTitle class="text-black">
                            Container 1 - MRKU089786756SH
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="row justify-content-center">
                              <div class="col-12">
                                <table
                                  class="table table-bordered mb-0 table-hover"
                                >
                                  <thead>
                                    <tr>
                                      <th rowspan="1">Item Description</th>
                                      <th rowspan="1">Pallets No</th>
                                      <th rowspan="1">Gross Weight(Kgs)</th>
                                      <th rowspan="1">Net Weight(Kgs)</th>
                                      <th rowspan="1">PCS</th>
                                    </tr>
                                  </thead>
                                  <tbody class="table-bordered">
                                    <tr>
                                      <td></td>
                                      <td>1</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>2</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>3</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>4</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>5</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>6</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>7</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>8</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>9</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>10</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <form>
                              <div class="card">
                                <div class="card-body">
                                  <div class="table-responsive">
                                    <table
                                      class="table table-bordered mb-0 table-hover"
                                    >
                                      <tbody class="table-bordered">
                                        <tr>
                                          <td>Total Gross Weight</td>
                                          <td>25305</td>
                                        </tr>
                                        <tr>
                                          <td>Total Net Weight</td>
                                          <td>25003</td>
                                        </tr>
                                        <tr>
                                          <td>Total Pallets</td>
                                          <td>25</td>
                                        </tr>
                                        <tr>
                                          <td>Total PCS</td>
                                          <td>3409</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </ng-template>
                        </ngb-panel>

                        <ngb-panel id="static-2">
                          <ng-template ngbPanelTitle class="text-black">
                            Container 2 - MRKU089786756SH
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="row justify-content-center">
                              <div class="col-12">
                                <table
                                  class="table table-bordered mb-0 table-hover"
                                >
                                  <thead>
                                    <tr>
                                      <th rowspan="1">Item Description</th>
                                      <th rowspan="1">Pallets No</th>
                                      <th rowspan="1">Gross Weight(Kgs)</th>
                                      <th rowspan="1">Net Weight(Kgs)</th>
                                      <th rowspan="1">PCS</th>
                                    </tr>
                                  </thead>
                                  <tbody class="table-bordered">
                                    <tr>
                                      <td></td>
                                      <td>1</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>2</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>3</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>4</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>5</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>6</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>7</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>8</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>9</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                    <tr>
                                      <td></td>
                                      <td>10</td>
                                      <td>1032</td>
                                      <td>1019</td>
                                      <td>140</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <form>
                              <div class="card">
                                <div class="card-body">
                                  <div class="table-responsive">
                                    <table
                                      class="table table-bordered mb-0 table-hover"
                                    >
                                      <tbody class="table-bordered">
                                        <tr>
                                          <td>Total Gross Weight</td>
                                          <td>25305</td>
                                        </tr>
                                        <tr>
                                          <td>Total Net Weight</td>
                                          <td>25003</td>
                                        </tr>
                                        <tr>
                                          <td>Total Pallets</td>
                                          <td>25</td>
                                        </tr>
                                        <tr>
                                          <td>Total PCS</td>
                                          <td>3409</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </ng-template>
                        </ngb-panel>
                      </ngb-accordion>

                      <!-- end accordion -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
