<app-loader></app-loader>
<div class="container-fluid">
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-xl-6">
      <div class="card overflow-hidden">
        <div class="bg-soft bg-primary">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>{{ profileData?.username }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <div class="avatar-title rounded-circle bg-light text-primary">
                  <i class="bx bx-md bxs-user"></i>
                </div>
              </div>
              <h5 class="font-size-15 text-truncate">
                {{ profileData?.username }}
              </h5>
              <p class="text-muted mb-0 text-truncate">
                {{ profileData?.role }}
              </p>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">
                <div class="row">
                  <div class="col-6">
                    <h5 class="font-size-15">Line</h5>
                    <p class="text-muted mb-0">{{ profileData?.line }}</p>
                  </div>
                  <div class="col-6">
                    <h5 class="font-size-15">Last Login</h5>
                    <p class="text-muted mb-0">
                      {{ profileData?.last_login | date : "medium" }}
                    </p>
                  </div>
                </div>
                <!-- <div class="mt-4">
                  <a href="javascript: void(0);" class="btn btn-primary btn-sm">View Profile <i
                      class="mdi mdi-arrow-right ms-1"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Personal Information</h4>

          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">Full Name :</th>
                  <td>{{ profileData?.fullname }}</td>
                </tr>
                <tr>
                  <th scope="row">E-mail :</th>
                  <td>{{ profileData?.email }}</td>
                </tr>
                <tr>
                  <th scope="row">Contact Number:</th>
                  <td>{{ profileData?.contact_number }}</td>
                </tr>
                <tr>
                  <th scope="row">Location :</th>
                  <td>INDIA</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-5">Activity</h4>
          <div class="">
            <ul class="verti-timeline list-unstyled">
              <li class="event-list">
                <div class="event-timeline-dot">
                  <i class="bx bx-right-arrow-circle bx-fade-right"></i>
                </div>
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <i class="bx bxs-user-check h4 text-primary"></i>
                  </div>
                  <div class="flex-grow-1">
                    <div>
                      <h5 class="font-size-15">
                        <a href="javascript: void(0);" class="text-dark"
                          >Assigned Operator 1 to Line 1</a
                        >
                      </h5>
                      <span class="text-primary">20/12/2022 10:12:48 AM</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="event-list">
                <div class="event-timeline-dot">
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <i class="bx bxs-user-check h4 text-primary"></i>
                  </div>
                  <div class="flex-grow-1">
                    <div>
                      <h5 class="font-size-15">
                        <a href="javascript: void(0);" class="text-dark"
                          >Assigned Operator 2 to Line 1</a
                        >
                      </h5>
                      <span class="text-primary">20/12/2022 9:30:13 AM</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="event-list">
                <div class="event-timeline-dot">
                  <i class="bx bx-right-arrow-circle"></i>
                </div>
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <i class="bx bxs-log-in-circle h4 text-primary"></i>
                  </div>
                  <div class="flex-grow-1">
                    <div>
                      <h5 class="font-size-15">
                        <a href="javascript: void(0);" class="text-dark"
                          >Login
                        </a>
                      </h5>
                      <span class="text-primary">20/12/2022 9:00:43 AM</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
