<div class="container-fluid">
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12 align-items-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Slag Removal</h4>
          <aw-wizard [navBarLayout]="'large-empty-symbols'">
            <aw-wizard-step stepTitle="Hold Number">
              <ng-template awWizardStepSymbol><b>1</b></ng-template>
              <form>
                <div class="row justify-content-center">
                  <label
                    for="horizontal-firstname-input"
                    class="col-sm-3 col-form-label"
                    >Ready for Slag Removal</label
                  >
                </div>
                <div class="row mb-4 justify-content-cente mt-4">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4">
                        <div
                          class="card bg-success border border-success card-body"
                        >
                          <h3 class="card-title text-white text-center">
                            MW-01-1001
                          </h3>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card border border-primary card-body">
                          <h3 class="card-title text-center">MW-01-1002</h3>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card border border-primary card-body">
                          <h3 class="card-title text-center">MW-02-1003</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Addition Details">
              <ng-template awWizardStepSymbol><b>2</b></ng-template>

              <form>
                <div class="row mb-4 mt-4 text-center">
                  <label
                    for="horizontal-firstname-input"
                    class="col-sm-3 col-form-label"
                  ></label>
                  <label
                    for="horizontal-firstname-input"
                    class="col-sm-3 col-form-label"
                    >Recommended Values</label
                  >
                  <label
                    for="horizontal-firstname-input"
                    class="col-sm-3 col-form-label"
                    >Request to SAP</label
                  >
                  <label
                    for="horizontal-firstname-input"
                    class="col-sm-3 col-form-label"
                    >Recieved from SAP</label
                  >
                </div>
                <div class="row mb-4 mt-4">
                  <label
                    for="horizontal-email-input"
                    class="col-sm-3 col-form-label"
                    >Be (grams)</label
                  >
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      value="50"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-3">
                    <input type="number" class="form-control" value="50" />
                  </div>
                  <div class="col-sm-3">
                    <input type="number" class="form-control" />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Pure Alu (kg)</label
                  >
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      value="0"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-3">
                    <input type="number" class="form-control" value="0" />
                  </div>
                  <div class="col-sm-3">
                    <input type="number" class="form-control" />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Zinc (kg)</label
                  >
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      value="0"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-3">
                    <input type="number" class="form-control" value="0" />
                  </div>
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      style="
                        border-color: green;
                        background-color: rgb(213, 232, 213);
                      "
                      value="0"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Al Mn (kg)
                  </label>
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      value="0"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-3">
                    <input type="number" class="form-control" value="0" />
                  </div>
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      style="
                        border-color: green;
                        background-color: rgb(213, 232, 213);
                      "
                      value="0"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Pure Mg (kg)</label
                  >
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      value="0"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-3">
                    <input type="number" class="form-control" value="0" />
                  </div>
                  <div class="col-sm-3">
                    <input
                      type="number"
                      class="form-control"
                      style="
                        border-color: green;
                        background-color: rgb(213, 232, 213);
                      "
                      value="0"
                    />
                  </div>
                </div>
              </form>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="list-inline-item" style="margin-left: 37rem">
                  <button class="btn btn-primary">Request to SAP</button>
                </li>
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Metal Tapping to MWO">
              <ng-template awWizardStepSymbol><b>3</b></ng-template>

              <form>
                <div class="row mt-4">
                  <div class="col-12">
                    <div>
                      <form>
                        <dropzone
                          [message]="'Click to capture tapping temp image'"
                          class="dropzone"
                        ></dropzone>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="row mb-4 mt-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Tapping Temperature</label
                  >
                  <div class="col-sm-9">
                    <input type="number" class="form-control" />
                  </div>
                </div>

                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Time</label
                  >
                  <div class="col-sm-9">
                    <input class="form-control" type="time" value="10:00:00" />
                  </div>
                </div>

                <div class="row mb-4">
                  <label
                    for="horizontal-email-input"
                    class="col-sm-3 col-form-label"
                    >Quantity(KG)</label
                  >
                  <div class="col-sm-9">
                    <input type="number" class="form-control" />
                  </div>
                </div>

                <div class="row mb-4">
                  <label
                    for="horizontal-email-input"
                    class="col-sm-3 col-form-label"
                    >Slag Removal(KG)</label
                  >
                  <div class="col-sm-9">
                    <input type="number" class="form-control" />
                  </div>
                </div>
              </form>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Confirm">
              <ng-template awWizardStepSymbol><b>4</b></ng-template>
              <div class="row justify-content-center">
                <div class="col-xl col-sm-6">
                  <div class="mt-3 mb-0 text-center">
                    <div
                      class="card bg-success border border-success card-body"
                    >
                      <h3 class="card-title text-white text-center">
                        Hold Number - MW-01-1001
                      </h3>
                    </div>
                    <div
                      class="card bg-success border border-success card-body"
                    >
                      <h3 class="card-title text-white text-center">
                        Flux Adding Quantity - 20KG
                      </h3>
                    </div>
                    <div
                      class="card bg-success border border-success card-body"
                    >
                      <h3 class="card-title text-white text-center">
                        Be Grams - 50Grams
                      </h3>
                    </div>
                    <div
                      class="card bg-success border border-success card-body"
                    >
                      <h3 class="card-title text-white text-center">
                        Pure Alu - 0KG
                      </h3>
                    </div>
                    <div
                      class="card bg-success border border-success card-body"
                    >
                      <h3 class="card-title text-white text-center">
                        Zinc - 0KG
                      </h3>
                    </div>
                    <div
                      class="card bg-success border border-success card-body"
                    >
                      <h3 class="card-title text-white text-center">
                        Al - 0KG
                      </h3>
                    </div>
                    <div
                      class="card bg-success border border-success card-body"
                    >
                      <h3 class="card-title text-white text-center">
                        Pure Mg - 0KG
                      </h3>
                    </div>
                    <div
                      class="card bg-success border border-success card-body"
                    >
                      <h3 class="card-title text-white text-center">
                        Melting Temperature - 700 °C
                      </h3>
                    </div>
                    <div class="card border border-success card-body">
                      <img
                        class="img-thumbnail"
                        alt="200x200"
                        src="assets/images/small/img-3.jpg"
                        data-holder-rendered="true"
                      />
                    </div>
                    <div
                      class="card bg-success border border-success card-body"
                    >
                      <h3 class="card-title text-white text-center">
                        Time - 10:00
                      </h3>
                    </div>
                    <button
                      type="button"
                      class="btn btn-ibex btn-lg w-md text-black"
                    >
                      Confirm
                    </button>
                    <br />
                  </div>
                </div>
              </div>
              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <a
                    routerLink="/pages/mwo/mwoinspection"
                    class="btn btn-primary"
                    >Next Process
                  </a>
                </li>
              </ul>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Slag Removal Report</h4>
          <div class="table-responsive">
            <app-table
              [HeadingArray]="slagremovingHeadingArray"
              [BodyArray]="slagremovingBodyArray"
              [ParentReports]="parentReports"
              [source]="true"
            >
            </app-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
