<div class="container-fluid">
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12 align-items-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Packing List</h4>
          <aw-wizard [navBarLayout]="'large-empty-symbols'">
            <aw-wizard-step stepTitle="Invoice Details">
              <ng-template awWizardStepSymbol><b>1</b></ng-template>
              <div class="row">
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-6 col-form-label"
                    >Select Invoice No</label
                  >
                  <div class="col-sm-6">
                    <ng-select [items]="invoiceNumbers"></ng-select>
                  </div>
                </div>
              </div>
              <form>
                <div class="row justify-content-center mt-4"></div>
                <div class="row">
                  <div class="row mb-4">
                    <label
                      for="horizontal-password-input"
                      class="col-sm-6 col-form-label"
                      >Invoice Date</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        [disabled]="true"
                        value="31-10-2022"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="row mb-4">
                    <label
                      for="horizontal-password-input"
                      class="col-sm-6 col-form-label"
                      >Customer Reference</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        [disabled]="true"
                        value="TIPL/0148/22-23"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="row mb-4">
                    <label
                      for="horizontal-password-input"
                      class="col-sm-6 col-form-label"
                      >Customer Reference Date</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        [disabled]="true"
                        value="31-10-2022"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="row mb-4">
                    <label
                      for="horizontal-password-input"
                      class="col-sm-6 col-form-label"
                      >Consignee Name</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        [disabled]="true"
                        value="TRISTAR INTERMEDIATED PVT LTD"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="row mb-4">
                    <label
                      for="horizontal-password-input"
                      class="col-sm-6 col-form-label"
                      >Consignee Address</label
                    >
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control"
                        [disabled]="true"
                        value="SHED No C1 B-3201 To B-3203 G.I.D.C SARIGAM Gujarat-396155"
                      />
                    </div>
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Shipping Details">
              <ng-template awWizardStepSymbol><b>2</b></ng-template>

              <form>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-6 col-form-label"
                    >Container No</label
                  >
                  <div class="col-sm-6">
                    <input type="text" class="form-control" value="" />
                  </div>
                </div>

                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-6 col-form-label"
                    >Seal No</label
                  >
                  <div class="col-sm-6">
                    <input type="text" class="form-control" value="" />
                  </div>
                </div>

                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-6 col-form-label"
                    >Vehicle No</label
                  >
                  <div class="col-sm-6">
                    <input type="text" class="form-control" value="" />
                  </div>
                </div>
              </form>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Pallet Details">
              <ng-template awWizardStepSymbol><b>3</b></ng-template>

              <form>
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-4 text-center">
                      Packing List Summary
                    </h4>

                    <div class="table-responsive">
                      <app-table
                        [BodyArray]="packinglistsummaryBodyArray"
                        [children]="true"
                        [slno]="true"
                        [centered]="true"
                      ></app-table>
                    </div>
                  </div>
                </div>
              </form>
              <form>
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <app-table
                        [HeadingArray]="packinglistHeadingArray"
                        [BodyArray]="packinglistBodyArray"
                        [source]="true"
                        [children]="true"
                        [slno]="true"
                      ></app-table>
                    </div>
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Confirm">
              <ng-template awWizardStepSymbol><b>4</b></ng-template>
              <div class="row justify-content-center m-4">
                <div class="col-12">
                  <table class="table table-bordered mb-0 table-hover">
                    <tbody class="table-bordered">
                      <tr>
                        <td>Invoice Number</td>
                        <td>IEPL/1300/22-23</td>
                        <td>Container No</td>
                        <td>MSKU5678923</td>
                      </tr>
                      <tr>
                        <td>Invoice Date</td>
                        <td>22-12-2022</td>
                        <td>Seal No</td>
                        <td>7632</td>
                      </tr>
                      <tr>
                        <td>Customer Ref</td>
                        <td>TIPL/0148/22-23</td>
                        <td>Vehicle No</td>
                        <td>KA53B57392</td>
                      </tr>
                      <tr>
                        <td>Shipping Date</td>
                        <td>22-12-2022</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Shipper</td>
                        <td>Ibex Engineering Pvt Ltd</td>
                        <td>Consignee</td>
                        <td>
                          SHED No C1 B-3201 To B-3203 G.I.D.C SARIGAM
                          Gujarat-396155
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-12">
                  <table class="table table-bordered mb-0 table-hover">
                    <thead>
                      <tr>
                        <th rowspan="1">Item Description</th>
                        <th rowspan="1">Pallets No</th>
                        <th rowspan="1">Gross Weight(KG)</th>
                        <th rowspan="1">Net Weight(KG)</th>
                        <th rowspan="1">PCS</th>
                      </tr>
                    </thead>
                    <tbody class="table-bordered">
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td>1032</td>
                        <td>1019</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td>1032</td>
                        <td>1019</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td>1032</td>
                        <td>1019</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td>1032</td>
                        <td>1019</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td>1032</td>
                        <td>1019</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td>1032</td>
                        <td>1019</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7</td>
                        <td>1032</td>
                        <td>1019</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8</td>
                        <td>1032</td>
                        <td>1019</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>9</td>
                        <td>1032</td>
                        <td>1019</td>
                        <td>140</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>10</td>
                        <td>1032</td>
                        <td>1019</td>
                        <td>140</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <form>
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered mb-0 table-hover">
                        <tbody class="table-bordered">
                          <tr>
                            <td>Total Gross Weight(KG)</td>
                            <td>25305</td>
                          </tr>
                          <tr>
                            <td>Total Net Weight(KG)</td>
                            <td>25003</td>
                          </tr>
                          <tr>
                            <td>Total Pallets</td>
                            <td>25</td>
                          </tr>
                          <tr>
                            <td>Total PCS</td>
                            <td>3409</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row justify-content-center mb-4">
                <div class="col-12 text-center">
                  <button
                    type="button"
                    class="btn btn-ibex btn-lg w-md text-black"
                  >
                    Confirm Packing List
                  </button>
                </div>
              </div>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <a
                    routerLink="/pages/dispatch/certquality"
                    class="btn btn-primary"
                    >Next Process</a
                  >
                </li>
              </ul>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
    <div class="col-lg-12 align-items-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Packing List Report</h4>
          <div class="table-responsive">
            <app-table
              [HeadingArray]="fasHeadingArray"
              [BodyArray]="fasBodyArray"
              [source]="false"
            ></app-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
