<div class="container-fluid">
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12 align-items-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Raw Material Loading</h4>
          <aw-wizard [navBarLayout]="'large-empty-symbols'">
            <aw-wizard-step stepTitle="Load Details">
              <ng-template awWizardStepSymbol><b>1</b></ng-template>

              <form>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Select Production Order No</label
                  >
                  <div class="col-sm-9">
                    <ng-select [items]="productionOrderNumbers"></ng-select>
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-firstname-input"
                    class="col-sm-3 col-form-label"
                    >Alloy Name</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="AM50A"
                      [disabled]="true"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-firstname-input"
                    class="col-sm-3 col-form-label"
                    >Planned Quantity(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="5000"
                      [disabled]="true"
                    />
                  </div>
                </div>
              </form>

              <ul class="list-inline wizard mb-0">
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Scrap Weight">
              <ng-template awWizardStepSymbol><b>2</b></ng-template>

              <form>
                <div class="row mb-3">
                  <label
                    for="horizontal-email-input"
                    class="col-sm-3 col-form-label"
                    >Scrap Weight(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="550"
                      [disabled]="true"
                    />
                  </div>
                </div>

                <h5 style="font-size: 0.8rem" class="mb-3 text-center">
                  Scrap Weight(KG) Breakup
                </h5>

                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Vendor 1</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      value="CMR"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-2">
                    <input
                      type="text"
                      class="form-control"
                      value="200"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-primary">View Report</button>
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Vendor 2</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      value="Steel Line India"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-2">
                    <input
                      type="text"
                      class="form-control"
                      value="200"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-primary">View Report</button>
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Vendor 3</label
                  >
                  <div class="col-sm-4">
                    <input
                      type="text"
                      class="form-control"
                      value="Sunland"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-2">
                    <input
                      type="text"
                      class="form-control"
                      value="150"
                      [disabled]="true"
                    />
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-primary">View Report</button>
                  </div>
                </div>
              </form>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Runners & Returns">
              <ng-template awWizardStepSymbol><b>3</b></ng-template>

              <form>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Ibex Runners and Returns(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="700"
                      [disabled]="true"
                    />
                  </div>
                </div>
              </form>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Rejection Ingots">
              <ng-template awWizardStepSymbol><b>4</b></ng-template>

              <form>
                <div class="row mb-3">
                  <label
                    for="horizontal-firstname-input"
                    class="col-sm-3 col-form-label"
                    >Rejections Ingots Quantity(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="200"
                      [disabled]="true"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Others(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="900"
                      [disabled]="true"
                    />
                  </div>
                </div>
              </form>

              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Addition Details">
              <ng-template awWizardStepSymbol><b>5</b></ng-template>

              <form>
                <div class="row mb-4">
                  <label
                    for="horizontal-email-input"
                    class="col-sm-3 col-form-label"
                    >Be(Grams)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="50"
                      disabled="true"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Pure Alu(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="0"
                      disabled="true"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Zinc(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="0"
                      disabled="true"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Al Mn(KG)
                  </label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="0"
                      disabled="true"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="horizontal-password-input"
                    class="col-sm-3 col-form-label"
                    >Pure Mg(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      value="0"
                      disabled="true"
                    />
                  </div>
                </div>
              </form>
              <ul class="list-inline wizard mb-0">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <button class="btn btn-primary" awNextStep>Next</button>
                </li>
              </ul>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Confirm">
              <ng-template awWizardStepSymbol><b>6</b></ng-template>
              <div class="row justify-content-center">
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">
                      [1] Sale Order No - 1
                    </h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">[1] AM50A</h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">
                      [2] Scrap Weight - 550KG
                    </h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">
                      [3] Runners & Returns - 700KG
                    </h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">
                      [4] Rejection Ingots - 200KG
                    </h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">
                      [4] Others - 900KG
                    </h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">
                      [5] Be Grams - 50Grams
                    </h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">
                      [5] Pure Alu - 0KG
                    </h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">
                      [5] Zinc - 0KG
                    </h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">
                      [5] Al Mn - 0KG
                    </h3>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-success border border-success card-body">
                    <h3 class="card-title text-white text-center">
                      [5] Pure Mg - 0KG
                    </h3>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <button
                    type="button"
                    class="btn btn-ibex btn-lg w-md text-black col-6"
                  >
                    Generate Melt Number
                  </button>
                </div>

                <br />
              </div>
              <ul class="list-inline wizard m-2">
                <li class="previous list-inline-item">
                  <button class="btn btn-primary" awPreviousStep>
                    Previous
                  </button>
                </li>
                <li class="next list-inline-item float-end">
                  <a routerLink="/pages/mto/melting" class="btn btn-primary"
                    >Next Process</a
                  >
                </li>
              </ul>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Raw Material Loading Report</h4>

          <app-table
            [HeadingArray]="materialLoadingHeadingArray"
            [BodyArray]="materialLoadingBodyArray"
            [source]="false"
          ></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
