<table class="table mb-0 table-hover">
  <thead class="table-light">
    <tr *ngFor="let row of HeadingArray">
      <th
        *ngFor="let heading of row"
        [attr.colspan]="heading.colspan"
        [attr.rowspan]="heading.rowspan"
        class="text-center"
      >
        {{ heading["heading"] }}
      </th>
    </tr>
  </thead>

  <tbody *ngFor="let row of BodyArray; let i = index">
    <tr class="text-center">
      <td align="center">
        <a class="expand-row" (click)="changeValue()"> + </a>
      </td>
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let body of row">
        {{ body.value }}
        <img
          *ngIf="body.img"
          class="img-thumbnail"
          alt="200x200"
          width="150"
          [attr.src]="body.img"
          data-holder-rendered="true"
        />
      </td>
    </tr>
  </tbody>
</table>
