.above {
  z-index: 100;
}
.datepicker {
  position: absolute;
  right: 10px;
  background: #e6ebf4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.checked {
  background-color: #343a40;
  color: white;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: #556ee6;
  color: white;
}

.custom-day.faded {
  background-color: #556ee6;
}
