<div class="container-fluid">
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12 align-items-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Composition Check</h4>
          <form
            [formGroup]="mtoSlagInspectionForm"
            (ngSubmit)="onMtoSlagInspectionFormSubmit()"
          >
            <aw-wizard [navBarLayout]="'large-empty-symbols'">
              <!-- Step 1 -->
              <aw-wizard-step
                stepTitle="Melt Number"
                formGroupName="slagInspectionMeltNumberGroup"
              >
                <ng-template awWizardStepSymbol><b>1</b></ng-template>

                <div class="row mb-4 text-center mt-4">
                  <label for="horizontal-firstname-input" class="col-sm-12"
                    >Ready to Move to MWO</label
                  >
                </div>
                <div class="row mb-4 justify-content-center">
                  <div class="col-sm-12">
                    <div class="row" *ngIf="meltNumbers.length === 0">
                      <h4 class="text-center">
                        No melt numbers ready for slag inspection
                      </h4>
                    </div>
                    <div class="row">
                      <div
                        class="btn-group col-sm-4"
                        role="group"
                        *ngFor="let item of meltNumbers; let i = index"
                      >
                        <input
                          type="radio"
                          class="btn-check"
                          name="melt_no"
                          formControlName="melt_no"
                          [value]="
                            item.flux_details.melting_details.loading_details
                              .melt_no
                          "
                          id="{{
                            item.flux_details.melting_details.loading_details
                              .melt_no
                          }}"
                        />
                        <label
                          class="btn btn-outline-success p-4 font-size-16"
                          for="{{
                            item.flux_details.melting_details.loading_details
                              .melt_no
                          }}"
                          >{{
                            item.flux_details.melting_details.loading_details
                              .melt_no
                          }}</label
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <ul class="list-inline wizard mb-0">
                  <li class="next list-inline-item float-end">
                    <button
                      type="button"
                      class="btn btn-primary"
                      [disabled]="form.slagInspectionMeltNumberGroup.invalid"
                      awNextStep
                    >
                      Next
                    </button>
                  </li>
                </ul>
              </aw-wizard-step>

              <!-- Step 2 -->
              <aw-wizard-step stepTitle="Inspection">
                <ng-template awWizardStepSymbol><b>2</b></ng-template>

                <div class="row justify-content-center mt-4">
                  <div class="m-4">
                    <ngb-accordion #acc="ngbAccordion">
                      <ngb-panel
                        *ngFor="let sample of inspectionSamples; let i = index"
                      >
                        <ng-template ngbPanelTitle class="text-black">
                          Sample {{ i + 1 }}
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <app-spectroreports
                            [SamplesArray]="sample"
                          ></app-spectroreports>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>
                </div>

                <ul class="list-inline wizard mb-0">
                  <li class="previous list-inline-item">
                    <button
                      type="button"
                      class="btn btn-primary"
                      awPreviousStep
                    >
                      Previous
                    </button>
                  </li>
                  <li class="next list-inline-item float-end">
                    <button type="button" class="btn btn-primary" awNextStep>
                      Next
                    </button>
                  </li>
                </ul>
              </aw-wizard-step>
              <!-- Step 3 -->
              <aw-wizard-step stepTitle="Remarks" formGroupName="remarksGroup">
                <ng-template awWizardStepSymbol><b>3</b></ng-template>

                <div class="row mb-4">
                  <label for="remarks" class="col-sm-3 col-form-label"
                    >Remarks</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      id="remarks"
                      formControlName="remarks"
                      (ngModelChange)="remarks($event)"
                    />
                  </div>
                </div>

                <ul class="list-inline wizard mb-0">
                  <li class="previous list-inline-item">
                    <button
                      type="button"
                      class="btn btn-primary"
                      awPreviousStep
                    >
                      Previous
                    </button>
                  </li>
                  <li class="next list-inline-item float-end">
                    <button type="button" class="btn btn-primary" awNextStep>
                      Next
                    </button>
                  </li>
                </ul>
              </aw-wizard-step>
              <!-- Step 4 -->
              <aw-wizard-step stepTitle="Confirm">
                <ng-template awWizardStepSymbol><b>4</b></ng-template>
                <div class="row justify-content-center">
                  <div class="col-xl col-sm-6">
                    <div class="mt-3 mb-0 text-center">
                      <div
                        class="card bg-success border border-success card-body"
                      >
                        <h3 class="card-title text-white text-center">
                          {{
                            "Melt Number - " +
                              form.slagInspectionMeltNumberGroup.value[
                                "melt_no"
                              ]
                          }}
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>

                <app-spectroreports
                  [SamplesArray]="samplesArray"
                ></app-spectroreports>

                <div class="card bg-success border border-success card-body">
                  <h3
                    *ngIf="isRemarksAvailable"
                    class="card-title text-white text-center"
                  >
                    {{ "Remarks - " + form.remarksGroup.value["remarks"] }}
                  </h3>
                  <h3
                    *ngIf="!isRemarksAvailable"
                    class="card-title text-white text-center"
                  >
                    No remarks
                  </h3>
                </div>

                <div class="row justify-content-center">
                  <div class="col-xl col-sm-6">
                    <div class="mt-3 mb-0 text-center">
                      <button
                        type="submit"
                        class="btn btn-ibex btn-lg w-md text-black"
                        [disabled]="form.invalid"
                      >
                        Move to MWO
                      </button>
                      <br />
                    </div>
                  </div>
                </div>
                <ul class="list-inline wizard mb-0">
                  <li class="previous list-inline-item">
                    <button class="btn btn-primary" awPreviousStep>
                      Previous
                    </button>
                  </li>
                  <li class="next list-inline-item float-end">
                    <a
                      routerLink="/pages/mwo/transfertomwo"
                      class="btn btn-primary"
                      >Next Process</a
                    >
                  </li>
                </ul>
              </aw-wizard-step>
            </aw-wizard>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Slag Inspection Report</h4>

          <app-table
            [HeadingArray]="slaginspectionHeadingArray"
            [BodyArray]="slaginspectionBodyArray"
            [source]="true"
            (pageSizeSelected)="onChangePageSize($event)"
            (pageNumber)="onChangePageNumber($event)"
            (searchValue)="onChangeSearchValue($event)"
            [PaginationData]="paginationDetails"
          ></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
