<div class="container-fluid">
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12 align-items-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Final Inspection</h4>
          <form
            [formGroup]="mwoFinalInspectionForm"
            (ngSubmit)="onMwoFinalInspectionFormSubmit()"
          >
            <aw-wizard [navBarLayout]="'large-empty-symbols'">
              <!-- Step 1 -->
              <aw-wizard-step
                stepTitle="Final Heat Number"
                formGroupName="finalInspectionFinalHeatNumberGroup"
              >
                <ng-template awWizardStepSymbol><b>1</b></ng-template>

                <div class="row mb-4 text-center mt-4">
                  <label for="horizontal-firstname-input" class="col-sm-12"
                    >Ready for Final Inspection</label
                  >
                </div>

                <div class="row mb-4 justify-content-center">
                  <div class="col-sm-12 align-items-center">
                    <div class="row" *ngIf="finalHeatNumbers.length === 0">
                      <h4 class="text-center">
                        No heat numbers ready for final inspection
                      </h4>
                    </div>
                    <div class="row">
                      <div
                        class="btn-group col-sm-4"
                        role="group"
                        *ngFor="let item of finalHeatNumbers; let i = index"
                      >
                        <input
                          type="radio"
                          class="btn-check"
                          name="final_heat_no"
                          formControlName="final_heat_no"
                          [value]="
                            item.buffing_polishing_details.vis_ins_details
                              .ingots_pouring_details.final_heat_no
                          "
                          id="{{
                            item.buffing_polishing_details.vis_ins_details
                              .ingots_pouring_details.final_heat_no
                          }}"
                        />
                        <label
                          class="btn btn-outline-success p-4 font-size-16"
                          for="{{
                            item.buffing_polishing_details.vis_ins_details
                              .ingots_pouring_details.final_heat_no
                          }}"
                          >{{
                            item.buffing_polishing_details.vis_ins_details
                              .ingots_pouring_details.final_heat_no
                          }}</label
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <ul class="list-inline wizard mb-0">
                  <li class="next list-inline-item float-end">
                    <button
                      type="button"
                      class="btn btn-primary"
                      [disabled]="
                        form.finalInspectionFinalHeatNumberGroup.invalid
                      "
                      awNextStep
                    >
                      Next
                    </button>
                  </li>
                </ul>
              </aw-wizard-step>
              <!-- Step 2 -->
              <aw-wizard-step
                stepTitle="Ingot Final Inspection"
                formGroupName="ingotFinalInspectionGroup"
              >
                <ng-template awWizardStepSymbol><b>2</b></ng-template>

                <div class="row mb-4 mt-4">
                  <label
                    for="total_no_of_printed_ingots"
                    class="col-sm-3 col-form-label"
                    >Total No of Printed Ingots</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="number"
                      class="form-control"
                      id="total_no_of_printed_ingots"
                      formControlName="total_no_of_printed_ingots"
                    />
                  </div>
                </div>
                <div class="row mb-4 mt-4">
                  <label
                    for="total_printed_ingots_quantity"
                    class="col-sm-3 col-form-label"
                    >Total Printed Ingots Quantity(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="number"
                      class="form-control"
                      id="total_printed_ingots_quantity"
                      formControlName="total_printed_ingots_quantity"
                    />
                  </div>
                </div>

                <div class="row mb-4">
                  <label
                    for="no_of_ok_printed_ingots"
                    class="col-sm-3 col-form-label"
                    >No of Ok Printed Ingots</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="number"
                      class="form-control"
                      id="no_of_ok_printed_ingots"
                      formControlName="no_of_ok_printed_ingots"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <label
                    for="no_of_ok_printed_ingots_quantity"
                    class="col-sm-3 col-form-label"
                    >No of Ok Printed Ingots Quantity(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="number"
                      class="form-control"
                      id="no_of_ok_printed_ingots_quantity"
                      formControlName="no_of_ok_printed_ingots_quantity"
                    />
                  </div>
                </div>

                <div class="row mb-4">
                  <label
                    for="no_of_not_ok_printed_ingots"
                    class="col-sm-3 col-form-label"
                    >No of not Ok Printed Ingots</label
                  >
                  <div class="col-sm-9">
                    <input
                      class="form-control"
                      type="number"
                      id="no_of_not_ok_printed_ingots"
                      formControlName="no_of_not_ok_printed_ingots"
                    />
                  </div>
                </div>

                <div class="row mb-4">
                  <label
                    for="no_of_not_ok_printed_ingots_quantity"
                    class="col-sm-3 col-form-label"
                    >No of Not Ok Printed Ingots Quantity(KG)</label
                  >
                  <div class="col-sm-9">
                    <input
                      class="form-control"
                      type="number"
                      id="no_of_not_ok_printed_ingots_quantity"
                      formControlName="no_of_not_ok_printed_ingots_quantity"
                    />
                  </div>
                </div>

                <div class="row mb-4">
                  <label for="remarks" class="col-sm-3 col-form-label"
                    >Remarks</label
                  >
                  <div class="col-sm-9">
                    <ng-select
                      id="remarks"
                      placeholder="--Please Select--"
                      formControlName="remarks"
                      (ngModelChange)="remarksSelected($event)"
                    >
                      <ng-option
                        *ngFor="let remark of remarks"
                        [value]="remark"
                        >{{ remark }}</ng-option
                      >
                    </ng-select>
                  </div>
                </div>

                <ul class="list-inline wizard mb-0">
                  <li class="previous list-inline-item">
                    <button
                      type="button"
                      class="btn btn-primary"
                      awPreviousStep
                    >
                      Previous
                    </button>
                  </li>
                  <li class="next list-inline-item float-end">
                    <button
                      type="button"
                      class="btn btn-primary"
                      [disabled]="form.ingotFinalInspectionGroup.invalid"
                      awNextStep
                    >
                      Next
                    </button>
                  </li>
                </ul>
              </aw-wizard-step>
              <!-- Step 3 -->
              <aw-wizard-step stepTitle="Confirm">
                <ng-template awWizardStepSymbol><b>3</b></ng-template>
                <div class="row justify-content-center">
                  <div class="col-xl col-sm-6">
                    <div class="mt-3 mb-0 text-center">
                      <div
                        class="card bg-success border border-success card-body"
                      >
                        <h3 class="card-title text-white text-center">
                          {{
                            "Heat Number - " +
                              form.finalInspectionFinalHeatNumberGroup.value[
                                "final_heat_no"
                              ]
                          }}
                        </h3>
                      </div>
                      <div
                        class="card bg-success border border-success card-body"
                      >
                        <h3 class="card-title text-white text-center">
                          {{
                            "Total No of Printed Ingots - " +
                              form.ingotFinalInspectionGroup.value[
                                "total_no_of_printed_ingots"
                              ]
                          }}
                        </h3>
                      </div>
                      <div
                        class="card bg-success border border-success card-body"
                      >
                        <h3 class="card-title text-white text-center">
                          {{
                            "Total Printed Ingots Quantity - " +
                              form.ingotFinalInspectionGroup.value[
                                "total_printed_ingots_quantity"
                              ]
                          }}
                        </h3>
                      </div>
                      <div
                        class="card bg-success border border-success card-body"
                      >
                        <h3 class="card-title text-white text-center">
                          {{
                            "No of OK Printed Ingots - " +
                              form.ingotFinalInspectionGroup.value[
                                "no_of_ok_printed_ingots"
                              ]
                          }}
                        </h3>
                      </div>
                      <div
                        class="card bg-success border border-success card-body"
                      >
                        <h3 class="card-title text-white text-center">
                          {{
                            "No of OK Printed Ingots Quantity - " +
                              form.ingotFinalInspectionGroup.value[
                                "no_of_ok_printed_ingots_quantity"
                              ]
                          }}
                        </h3>
                      </div>
                      <div
                        class="card bg-success border border-success card-body"
                      >
                        <h3 class="card-title text-white text-center">
                          {{
                            "No of NOT OK Printed Ingots - " +
                              form.ingotFinalInspectionGroup.value[
                                "no_of_not_ok_printed_ingots"
                              ]
                          }}
                        </h3>
                      </div>
                      <div
                        class="card bg-success border border-success card-body"
                      >
                        <h3 class="card-title text-white text-center">
                          {{
                            "No of NOT OK Printed Ingots Quantity - " +
                              form.ingotFinalInspectionGroup.value[
                                "no_of_not_ok_printed_ingots_quantity"
                              ]
                          }}
                        </h3>
                      </div>
                      <div
                        class="card bg-success border border-success card-body"
                      >
                        <h3
                          *ngIf="isRemarksAvailable"
                          class="card-title text-white text-center"
                        >
                          {{
                            "Remarks - " +
                              form.ingotFinalInspectionGroup.value["remarks"]
                          }}
                        </h3>
                        <h3
                          *ngIf="!isRemarksAvailable"
                          class="card-title text-white text-center"
                        >
                          No remarks
                        </h3>
                      </div>

                      <button
                        type="submit"
                        class="btn btn-ibex btn-lg w-md text-black"
                      >
                        Confirm to Packing
                      </button>
                      <br />
                    </div>
                  </div>
                </div>
                <ul class="list-inline wizard mb-0">
                  <li class="previous list-inline-item">
                    <button
                      type="button"
                      class="btn btn-primary"
                      awPreviousStep
                    >
                      Previous
                    </button>
                  </li>
                  <li class="next list-inline-item float-end">
                    <a routerLink="/pages/packing" class="btn btn-primary"
                      >Next Process</a
                    >
                  </li>
                </ul>
              </aw-wizard-step>
            </aw-wizard>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-12 align-items-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Final Inspection Report</h4>

          <app-table
            [HeadingArray]="finalInspectionHeadingArray"
            [BodyArray]="finalInspectionBodyArray"
            [source]="true"
            (pageSizeSelected)="onChangePageSize($event)"
            (pageNumber)="onChangePageNumber($event)"
            (searchValue)="onChangeSearchValue($event)"
            [PaginationData]="paginationDetails"
          ></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
